.profile__box {
    display: flex;
    gap: 18px;
    align-items: baseline;
}

@media screen and (max-width: 586px) {
    .profile__box {
        width: 282px;
        gap: 10px;
        justify-content: end;
    }
}