.popup__container {
    position: relative; /*для close-btn*/
    max-width: 430px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    padding: 34px 36px 37px;
}

@media screen and (max-width: 586px) {
    .popup__container {
        padding: 25px 22px;
    }    
}